.profile {
    padding: 74px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 106px;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__label {
    border-bottom: 1px solid #E8E8E8;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    width: 410px;
    padding-bottom: 16px;
    padding-top: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__label:last-of-type {
    border-bottom: none;
}

.profile__input {
    padding: 0;
    width: 80%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
}

.profile__input_invalid {
    color: #FF3055;
}

.profile__input-error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
    margin: 58px 0 0;
    position: absolute;
}

.profile__edit-message {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-self: center;
    color: #3456F3;
    margin: 150px 0 0;
    position: absolute;
}

.profile__edit-button {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin-top: 204px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    border: none;
    background-color: inherit;
}

.profile__edit-button:disabled {
    opacity: 0.6;
    color: #46484e;
    cursor: no-drop;
}

.profile__edit-button:hover {
    opacity: 0.7;
}

.profile__sign-out-button {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FF3055;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0;
    border: none;
    background-color: inherit;
}

.profile__sign-out-button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    .profile {
        padding: 236px 0 269px;
    }

    .profile__title {
        margin-bottom: 79px;
    }

    .profile__edit-button {
        margin-top: 194px;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        padding: 70px 0 40px;
    }

    .profile__title {
        margin-bottom: 63px;
    }

    .profile__label {
        width: 260px;
    }

    .profile__edit-button {
        margin-top: 363px;
        font-size: 12px;
        line-height: 15px;
    }

    .profile__sign-out-button {
        font-size: 12px;
        line-height: 15px;
    }
}