.movies-cards {
    max-width: 1280px;
}

.movies-cards_nothing_hidden {
    display: none;
}

.movies-cards__list {
    width: 100%;
    min-height: 47vh;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 70px 70px 30px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 24px;
    justify-items: center;
}

.movies-cards__nothing {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgb(245, 27, 27);
    margin: 0;
}

.movies-cards__more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 36px;
    background: #fff;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000;
    margin: 50px auto 80px;
    padding: 0;
    cursor: pointer;
}

.movies-cards__more-button_hidden {
    display: none;
}

.movies-cards__more-button:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
@media screen and (min-width: 1108px) and (max-width: 1240px) {
    .movies-cards__list {
        gap: 30px 65px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .movies-cards {
        width: 100%;
    }
    .movies-cards__list {
        padding: 70px 30px 30px 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px 36px;
    }
}
@media screen and (max-width: 767px) {
    .movies-cards__list {
        padding: 40px 10px 30px 10px;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}